.postContainer{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2rem auto;

    border : solid 2px rgb(34, 34, 34);
    border-radius: 20px;
}

.pdpNomContainer{
    display: flex;
    justify-content: center;
}

.pdpContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pdpContainer img{
    width: 2rem;
}

.name{
    margin: 1rem;
}



.texteImageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.likesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.likesLogoContainer img{
    width: 1rem;
    margin : 0 1rem;
}